
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


*{
    
	margin:0;
	padding:0;
}
.topo{
    max-width: 100vw;
    height: 15vh;
    background-color: #161B31;
}

.Menu{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #161B31;
    left: 23px;
    top: 2.5vh;
}

.Menu:hover{
    background-color: #1E2440;
}
#icon{
    position: absolute;
    top: 14px;
    left: 15px;
    width: 30.37px;
    height: 31.96px;
}

.titulo{
    display: inline;
    color: #98C065;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    margin-left: 38vw;

}

.ftperfil{
    border: 3px solid #E3E3E3;
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-image: url("/assets/img/postmalone.jpg");
    background-size: cover;
    position: absolute;
    left: 90vw;
    top: 2.5vh;
    
}

#map 
{  
    height: 85vh; 
    width: 100%;
}

.barrapesquisa{
    z-index: 888;
    top: 20vh;
    left: 4vw;
    position: fixed;
    width: 25vw;
    height: 6vh;
    border-radius: 10px;
    background-color: #F3FCE7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); ;
}

input{
    width: 23vw;
    height:6vh;
    background-color: #F3FCE7;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    border: 0;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    color: rgba(22, 27, 49, 0.64); 
    padding-left: 10px;
}

::-webkit-input-placeholder{
    color: rgba(22, 27, 49, 0.64);  
}
input::-moz-placeholder{
      color: rgba(22, 27, 49, 0.64);  
}

.dropdown{
     width: 25vw; 
     height: 118px;
     margin-top: 10px;
     background-color: #F3FCE7;
     border-radius: 10px;
     display: none;
}

.item{
   height: 40px;
   padding-top: 5px;
   box-sizing: border-box;
   transition:0.3s;
   cursor: pointer; 
   color: rgba(22, 27, 49, 0.64);  
   padding-left: 10px;
   font-family: 'Inter', sans-serif;
   font-size: 16px;

   border-top: 1px solid rgba(0, 0, 0, 0.274);
   
}

.item:hover{
    background-color: #C5CEB9;
}

#item-1{
    border-top: none;
}

#pushup{ 
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.container{
    width: 55px;
    height: 150px;
    position: absolute;
    z-index: 899;
    top: 70vh;
    left: 88vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#comunidade {
    background: rgba(22, 27, 49, 0.8);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    
}

#comunidade > img {
    width: 40px;
    position: absolute;
    left: 15px;
    top: 15px;
}


#localizacao {
    background: rgba(22, 27, 49, 0.8);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    
}

#localizacao > img {
    width: 40px;
    position: absolute;
    left: 15px;
    bottom: 14px;
}


#localizacaomobile
{
    display: none;
}

#menumobile
{
    display: none;
}

.barrainferior
{
    display: none;
}

@media screen and (max-width: 425px) 
{
     
    .topo
    {
        display: none;
    }

    .barrapesquisa
    {
        display: none;
    }

    .container
    {
        display: none;
    }

    body
    {
        background-color: #161B31;
    }

    .menumobile
    {
        position: absolute;
        width: 40px;
        height: 40px;
        z-index: 1;
        top: 3.5%;
        left: 84%;

        background: #161B31;
        border-radius: 50%;

        background-image: url("/home/img/sidebar.png");
        background-repeat: no-repeat;
        background-size: 45%;
        background-position: 51%;
    }

    #map
    {
        position: absolute;
        height: 90vh;
        z-index: 0;
    }

    .localizacaomobile
    {
        position: absolute;
        left: 84%;
        top: 65%;
        width: 56px;
        height: 54px;

        background: rgba(22, 27, 49, .8);
        border-radius: 50%;
    }

    .localizacaomobile img 
    {
        margin-left: 20%;
        margin-top: 15%;
    }

    .barrainferior
    {
        display: block;
        position: absolute;
        width: 100%;
        max-width: 425px;
        /*height: 100%;*/
        height: 230px;
        top: 74vh;
        background: #161B31;
        border-top-right-radius: 70px;
        border-top-left-radius:  70px;
    }

    .opcoes
    {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .opcoes input
    {
        width: 306px;
        height: 46.75px;
        background-image: url("/home/img/push-up.svg");
        background-repeat: no-repeat;
        background-position: 96%;
    }

    .dropdown-mobile
    {
        width: 25vw; 
        height: 118px;
        margin-top: 10px;
        background-color: #F3FCE7;
        border-radius: 10px;
        display: none;
    }
   
   .item
   {
      height: 40px;
      padding-top: 5px;
      box-sizing: border-box;
      transition:0.3s;
      cursor: pointer; 
      color: rgba(22, 27, 49, 0.64);  
      padding-left: 10px;
      font-family: 'Inter', sans-serif;
      font-size: 16px;
   
      border-top: 1px solid rgba(0, 0, 0, 0.274);  
    }
   
   .item:hover
    {
       background-color: #C5CEB9;
    }
   
   #item-1
    {
       border-top: none;
    }

    .perfil-comunidade
    {
        display: flex;
        justify-content: center;
        margin-top: 10%;
    }

    hr 
    {
        margin: auto;
        border: none;
        border-left: 1px solid #98C065;
        height: 7vh;
        width: 1px;
    }

    #comunidademobile
    {
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #98C065;

        margin-left: 20%;
    }

    #comunidademobile img
    {
        width: 45px;
        height: 35px;
    }

    #perfilmobile
    {
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #98C065;

        margin-right: 29%;
    }
    
    .divider 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 4px;
        width: 100%;
        max-width: 80px;
        margin-top: 5%;
        margin-left: 40%;
    }
      
    .divider::before,
    .divider::after 
    {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        border-top:  4px solid #98C065;
        width: calc((100% - 10px) / 1);
    }
}

@media screen and (max-width: 320px) 
{
    .opcoes input
    {
        width: 240px;
        height: 42.75px;
        background-image: url("/home/img/push-up.svg");
        background-repeat: no-repeat;
        background-position: 96%;
    }

    #comunidademobile
    {
        margin-left: 14%;
    }

    #perfilmobile
    {
        margin-right: 20%;
    }

    .localizacaomobile
    {
        left: 80%;
        top: 65%;
        width: 52px;
        height: 50px;
    }
}