@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

input {
    caret-color: red;
  }
  
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #F1F1F1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    font-family: poppins;
  }
label, input {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  
  label {
    margin-bottom: 4px;
  }
  
  label:nth-of-type(2) {
    margin-top: 12px;
  }
  
  input::placeholder {
    color: gray;
  }
  
input {
    background: #D9D9D9;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  
.acc-logo {
    height: 120px;
    width: 110px;
    background: url("assets/110x121.png");
    margin: auto;
    /*border-radius: 50%;*/
    box-sizing: border-box;
    /*box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;*/
  }
.container {
    position: relative;
    width: 400px;
    height: 505px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #200042;
  }
.acc-title {
    
    font-weight: 900;
    font-size: 1.8rem;
    color: #A100FF;
    letter-spacing: 1px;
  }

.inputs_login {
    border-radius: 8px;
    text-align: left;
    margin-top: 30px;
  }

.submit{
    grid-gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.button1 {
    width: 100%;
    color: white;
    margin-top: 20px;
    background: #8fff92;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
  }
  
.button2 {
    width: 100%;
    color: white;
    margin-top: 20px;
    background: #222823;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
  }
  
.request{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
.password {
  
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
  }

h1 {
    position: absolute;
    top: 0;
    left: 0;
  }